
/********************
     Base Styles
**********************/

* {
	box-sizing: border-box;
	margin: 0;
}

header {
	background-color: #09cfd4;
	height: 70px;
	padding: 20px 0;
	text-align: center;
}

.site-name {
	border: 1px solid #fff;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	text-align: center;
}

.intro {
	margin: 20px auto;
	text-align: center;
}

.intro h3{
	padding-bottom: 10px;
}

.site-name,
.intro,
footer p {
	font-family: 'Roboto', sans-serif;
}

/*****************
	FORM STYLES
*****************/

legend {
	font-size: 1.10em;
	font-weight: bold;
	margin: 10px 0;
}

legend,
label p,
.primary,
.secondary  {
	font-family: 'Raleway';
}

[required] {
	text-align: right;
	padding-right: 10px;
}

input[id="name"],
input[id="mail"],
input[id="tel"],
input[id="address"],
input[id="city"],
input[id="zipcode"],
select,
textarea {
	border-radius: 5px;
	box-shadow: 0 0 4px 0 inset;
	height: 40px;
	margin-bottom: 10px;
	width: 100%;
} 

input,
select,
textarea {
	background-color: lightgray;
}

input,
select,
textarea:focus {
	border: 2px solid #beaded;
	outline: none;
}

select {
	border: 3px solid #beaded;
}

input[id="zipcode"] {
	width: 50%;
}

textarea {
	height: 90px;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 0 15px 0;
}

.primary,
.secondary {
	border-top: 2px solid #09cfd4;
	margin: 20px;
	padding: 20px;
}

.secondary p,
.secondary label {
	padding: 0 0  10px 0;
}

.primary,
.secondary,
footer p {
	margin-left: 20px;
}

fieldset {
	border: none;
	margin-bottom: 5px;
}

textarea {
	margin: 20px 0;
}

button {
	background: #beaded;
	border-radius: 5px;
	color: #fff;
	font-size: 1em;
	height: 50px;
	width: 100%;
}

footer p  {
	text-align: center;
}


/****************************
		MEDIA QUERIES	
****************************/

@media (min-width: 768px) {

.intro {
	width: 50%;
	}

.primary label,
select {
	float: left;
}


.secondary {
	clear: both;
	content: "";
	display: table;
}

.primary,
.secondary { 
	width: 60%;
	margin: 0 auto;
	}

input [id="zipcode"] {
	width: 30%;
	}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 10px 15px 0;
	}

footer {
	height: 200px;
	}
}

